.btn {
    font-size: .875rem;
    @include media-breakpoint-up(md) {
        font-size: 1rem;
    }
    &-primary {
        padding: 15px 30px;
        margin-bottom: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &-secondary {
        position: relative;
        padding: 6px 12px 6px 0;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 0;
        transition: .3s;
        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            width: 8px;
            height: 8px;
            border-top: 1px solid $dark;
            border-right: 1px solid $dark;
            content: "";
            transform: rotate(45deg) translateY(-66%);
            transition: .3s;
        }
        &:hover {
            padding: 6px 12px;
            color: $light;
            background-color: $brand-primary;
            &::after {
                opacity: 0;
            }
        }
    }
}
