{% block content %}
	{% if options.alert_text %}
		<div class="hero__alert">
			{{ options.alert_text }} {% if options.alert_button_text %}<a href="{{ options.alert_button_url }}">{{ options.alert_button_text }}</a>{% endif %}
		</div>
	{% endif %}
{% endblock %}