<footer>
	<div class="container vp-xs-top-4 vp-xs-bottom-4">
		<div class="row">
			<div class="col-xs-2 offset-xs-3">
				<h5>Header</h5>
				<ul>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
				</ul>
			</div>
			<div class="col-xs-2">
				<h5>Header</h5>
				<ul>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
				</ul>
			</div>
			<div class="col-xs-2">
				<h5>Header</h5>
				<ul>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
					<li><a href="#!">Item</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="base">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-xs-center">
					<p>2633 Merchants Walk, Murfreesboro, TN 37128 | 615.893.7444<br />
					<span>&copy; {{"now"|date('Y')}} River Oaks Community Church. All Rights Reserved.</span></p>
				</div>
			</div>
		</div>
	</div>
</footer>