{% block site_nav %}
<h5><strong>Latest Sermon</strong></h5>
<h1>I Know, But I'm Not Nervous</h1>
<a href="#!" class="btn btn-primary">Watch Now</a>
<h5><a href="#!">View More Sermons</a></h5>
{% endblock %}
