{% block site_nav %}

{% if post.get_field('sermons') %}
    {% for sermon in post.get_field('sermons')|slice(0, 1) %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="#!" data-vimeoid="{{ sermon.get_field('vimeo_id') }}">
                        <div class="message-card">
                            <div class="u-abs-full bg-img" style="background-image: url('{{ post.get_field('series_artwork') }}');"></div>
                            <div class="btn-play"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 hero__sermon-meta">
                    <h6>Sermons</h6>
                    <h1>{{ sermon.title }}</h1>
                    {# <p><span>Jonathan Josephs</span><br /> #}
                    {{ sermon.date }}</p>
                </div>
                <div class="col-sm-6 vp-xs-top-1 text-sm-right">
                    <a href="#!" class="btn btn-primary">Subscribe</a>
                    <a href="#!" class="btn btn-primary">Share</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}