{% extends "base.twig" %}

{% block content %}
	
	<div class="hero">
		{% include 'hero-page.twig' %}
		{% include '_partial-alert.twig' %}
	</div>

	<section>
		<div class="container">
			{% include '_partial-flex-fields.twig' %}
		</div>
	</section>

{% endblock %}
