{% block site_nav %}
<nav>
  <ul class="main-nav">
    {% for item in primaryNav.get_items %}
      <li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
    {% endfor %}
  </ul>
</nav>
{% endblock %}
