{% extends "base.twig" %}

{% block content %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-xs-center">
					<h2>More Sermons</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 ">
				    <a href="#!">
				        <div class="message-card">
				            <div class="u-abs-full bg-img" style="background-image: url('http://therocc.com/wp-content/uploads/2014/02/instagram_plain-980x560.jpg');"></div>
				            <div class="btn-play"></div>
				            <div class="message-card__info">
				                <h4>Overwhelmed… But Not Outnumbered</h3>
				                <p>Sermon</p>
				            </div>
				        </div>
				    </a>
				</div>
				<div class="col-sm-6 ">
				    <a href="#!">
				        <div class="message-card">
				            <div class="u-abs-full bg-img" style="background-image: url('http://therocc.com/wp-content/uploads/2014/02/instagram_plain-980x560.jpg');"></div>
				            <div class="btn-play"></div>
				            <div class="message-card__info">
				                <h4>Overwhelmed… But Not Outnumbered</h3>
				                <p>Sermon</p>
				            </div>
				        </div>
				    </a>
				</div>
				<div class="col-sm-6 ">
				    <a href="#!">
				        <div class="message-card">
				            <div class="u-abs-full bg-img" style="background-image: url('http://therocc.com/wp-content/uploads/2014/02/instagram_plain-980x560.jpg');"></div>
				            <div class="btn-play"></div>
				            <div class="message-card__info">
				                <h4>Overwhelmed… But Not Outnumbered</h3>
				                <p>Sermon</p>
				            </div>
				        </div>
				    </a>
				</div>
				<div class="col-sm-6 ">
				    <a href="#!">
				        <div class="message-card">
				            <div class="u-abs-full bg-img" style="background-image: url('http://therocc.com/wp-content/uploads/2014/02/instagram_plain-980x560.jpg');"></div>
				            <div class="btn-play"></div>
				            <div class="message-card__info">
				                <h4>Overwhelmed… But Not Outnumbered</h3>
				                <p>Sermon</p>
				            </div>
				        </div>
				    </a>
				</div>
				<div class="col-sm-6 ">
				    <a href="#!">
				        <div class="message-card">
				            <div class="u-abs-full bg-img" style="background-image: url('http://therocc.com/wp-content/uploads/2014/02/instagram_plain-980x560.jpg');"></div>
				            <div class="btn-play"></div>
				            <div class="message-card__info">
				                <h4>Overwhelmed… But Not Outnumbered</h3>
				                <p>Sermon</p>
				            </div>
				        </div>
				    </a>
				</div>
				<div class="col-sm-6 ">
				    <a href="#!">
				        <div class="message-card">
				            <div class="u-abs-full bg-img" style="background-image: url('http://therocc.com/wp-content/uploads/2014/02/instagram_plain-980x560.jpg');"></div>
				            <div class="btn-play"></div>
				            <div class="message-card__info">
				                <h4>Overwhelmed… But Not Outnumbered</h3>
				                <p>Sermon</p>
				            </div>
				        </div>
				    </a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 text-xs-center">
					<a href="#!" class="btn btn-primary">View All Sermons</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
